@import "tailwindcss";

:root {
    --color-primary: #ffd700;
    --color-secondary: #000000;
    --color-highlight: #f5f5f5;
}

body {
  /* Use the rotated rocket PNG as the cursor, with hotspot at the tip */
  cursor: url('./assets/rocket_icon.png'), auto;
}